In [1]:
import os
import sys
path_pipest='/home/claudio/pipest/pipest/'
path_lobster=path_pipest+'lobster/'
path_sdhawkes=path_pipest+'/sdhawkes/'
path_data=path_lobster+'data/'
path_lobster_pyscripts=path_lobster+'/py_scripts'

sys.path.append(path_pipest)
sys.path.append(path_sdhawkes)
sys.path.append(path_data)

In [2]:
import numpy as np
import pandas as pd
import pickle
import datetime
import time

import sys 
sys.path.append(path_lobster_pyscripts+'/')
sys.path.append(path_sdhawkes+'/modelling/')
sys.path.append(path_sdhawkes+'/resources/')

import model as sd_hawkes_model
import lob_model
import prepare_from_lobster as from_lobster

openmp.omp_get_max_threads(): 4

In [11]:
symbol='INTC'
date='2019-01-23'
initial_time=float(10.0*60*60)
final_time=float(12*60*60)
time_window=str('{}-{}'.format(int(initial_time),int(final_time)))
first_read_fromLOBSTER=True
dump_after_reading=False
add_level_to_messagefile=True

print('I am reading from lobster')
print('symbol={}, date={}, time_window={}'.format(symbol,date,time_window))

I am reading from lobster
symbol=INTC, date=2019-01-23, time_window=36000-43200

In [12]:
print('symbol={}, date={}, time_window={}\n'.format(symbol,date,time_window))
if (first_read_fromLOBSTER):
    LOB,messagefile=from_lobster.read_from_LOBSTER(symbol,date,
                                      dump_after_reading=dump_after_reading,
                                      add_level_to_messagefile=add_level_to_messagefile)
else:
    LOB,messagefile=from_lobster.load_from_pickleFiles(symbol,date)

LOB,messagefile=from_lobster.select_subset(LOB,messagefile,
                              initial_time=initial_time,
                              final_time=final_time)

symbol=INTC, date=2019-01-23, time_window=36000-43200

Given shape of orderbook: 1081948x40

/home/claudio/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

I am dropping column 6 of messagefile. Please disregard any Warning about this column
given shape of messagefile: 1081948x6
read_from_LOBSTER: time window:
  initial_time=34200.018282968
  final_time=57599.983832222
I am adding 'level' to messagefile
declare_level: check = True

In [13]:
mf = messagefile

In [22]:
idx=mf['level']<=0

In [23]:
mf.loc[idx,:].describe()

,time,event_type,orderID,size,price,direction,original_idx,level
count,2517.000000,2517.000000,2.517000e+03,2517.000000,2517.000000,2517.000000,2517.000000,2517.0
mean,39541.483419,3.963449,7.830363e+07,143.138657,480444.517282,0.187128,299707.486691,0.0
std,2062.977450,0.621756,4.622400e+07,170.322646,2595.255572,0.982531,104546.594959,0.0
min,36000.381030,3.000000,0.000000e+00,1.000000,475700.000000,-1.000000,114799.000000,0.0
25%,37856.014659,4.000000,5.122658e+07,100.000000,478400.000000,-1.000000,210031.000000,0.0
50%,39529.090457,4.000000,8.188460e+07,100.000000,480300.000000,1.000000,303566.000000,0.0
75%,41226.643303,4.000000,1.135345e+08,100.000000,481900.000000,1.000000,386472.000000,0.0
max,43198.493947,5.000000,1.538195e+08,3700.000000,486550.000000,1.000000,484314.000000,0.0

In [18]:
LOB.loc[idx,:]

,time,ask_price_1,ask_volume_1,bid_price_1,bid_volume_1,ask_price_2,ask_volume_2,bid_price_2,bid_volume_2,ask_price_3,...,bid_volume_8,ask_price_9,ask_volume_9,bid_price_9,bid_volume_9,ask_price_10,ask_volume_10,bid_price_10,bid_volume_10,original_idx
114799,36000.381030,486300,2401,486100,1329,486400,3300,486000,2400,486500,...,2600,487100,2700,485300,3454,487200,1400,485200,2600,114799
114917,36000.559404,486400,2900,486200,2507,486500,4000,486100,2700,486600,...,4020,487200,1400,485400,2600,487300,1700,485300,3454,114917
115056,36001.004904,486400,3304,486200,2578,486500,5700,486100,4600,486600,...,4020,487200,1400,485400,2600,487300,1700,485300,3454,115056
115139,36001.620452,486400,1800,486200,1878,486500,5700,486100,3400,486600,...,4020,487200,1400,485400,2600,487300,1700,485300,3454,115139
115268,36001.662524,486500,5400,486300,3034,486600,1700,486200,3178,486700,...,4600,487300,1700,485500,4020,487400,2200,485400,2600,115268
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
483833,43194.244634,476400,1300,476200,1300,476500,3200,476100,3100,476600,...,2426,477200,1700,475400,2582,477300,2000,475300,2301,483833
483958,43195.856994,476400,1100,476200,2800,476500,2600,476100,3500,476600,...,2426,477200,1700,475400,2582,477300,2000,475300,2301,483958
484094,43196.610996,476500,2300,476300,2466,476600,2616,476200,2800,476700,...,3671,477300,2000,475500,2426,477400,2100,475400,2582,484094
484142,43197.694682,476500,2370,476300,700,476600,2616,476200,2800,476700,...,3671,477300,2000,475500,2426,477400,2100,475400,2582,484142
484314,43198.493947,476600,1886,476400,3600,476700,4800,476300,2900,476800,...,3020,477400,2100,475600,3671,477500,2318,475500,2426,484314

In [20]:
mf = from_lobster.declare_level(LOB, mf)

prepare_from_lobster.declare_level: WARNING: messagefile already has column 'level'. I am replacing it
declare_level: check = True

In [21]:
mf

,time,event_type,orderID,size,price,direction,original_idx,level
114764,36000.007417,1,40728234,100,486400,-1,114764,3
114765,36000.007456,3,40720734,100,486800,-1,114765,7
114766,36000.007733,1,40728274,100,486200,-1,114766,1
114767,36000.007736,1,40728282,100,486200,-1,114767,1
114768,36000.010657,3,40711402,63,485900,1,114768,3
...,...,...,...,...,...,...,...,...
484483,43199.957070,1,153878574,100,476600,-1,484483,1
484484,43199.958295,1,153878598,100,476600,-1,484484,1
484485,43199.971588,3,153878598,100,476600,-1,484485,1
484486,43199.971628,1,153878942,100,476500,1,484486,1
484487,43199.994100,3,153822346,200,476500,1,484487,1

In [5]:
aggregate_time_stamp=True
eventTypes_to_aggregate=[1,2,3,4,5]
eventTypes_to_drop_with_nonunique_time=[]
eventTypes_to_drop_after_aggregation=[3]
only_4_events=False
separate_directions=True
separate_13_events=False
separate_31_events=False
separate_41_events=True
separate_34_events=True
separate_43_events=True
equiparate_45_events_with_same_time_stamp=True
drop_all_type3_events_with_nonunique_time=False
drop_5_events_with_same_time_stamp_as_4=True
drop_5_events_after_aggregation=True
tolerance_when_dropping=1.0e-8
add_hawkes_marks=True
clear_same_time_stamp=True
num_iter=4

In [6]:
print('\n\nDATA CLEANING\n')

man_mf=from_lobster.ManipulateMessageFile(
     LOB,messagefile,
     symbol=symbol,
     date=date,
     aggregate_time_stamp=aggregate_time_stamp,
     eventTypes_to_aggregate=eventTypes_to_aggregate,
     only_4_events=only_4_events,
     separate_directions=separate_directions,
     separate_13_events=separate_13_events,
     separate_31_events=separate_31_events,
     separate_41_events=separate_41_events,
     separate_34_events=separate_34_events,
     separate_43_events=separate_43_events,
     equiparate_45_events_with_same_time_stamp=
     equiparate_45_events_with_same_time_stamp,
     eventTypes_to_drop_with_nonunique_time=eventTypes_to_drop_with_nonunique_time,
     eventTypes_to_drop_after_aggregation=eventTypes_to_drop_after_aggregation,
     drop_all_type3_events_with_nonunique_time=drop_all_type3_events_with_nonunique_time,
     drop_5_events_with_same_time_stamp_as_4=drop_5_events_with_same_time_stamp_as_4,
     drop_5_events_after_aggregation=drop_5_events_after_aggregation,
     tolerance_when_dropping=tolerance_when_dropping,
     clear_same_time_stamp=clear_same_time_stamp,
     add_hawkes_marks=add_hawkes_marks,
     num_iter=num_iter
)

DATA CLEANING

Initial length of the message file: 369724
ManipulateMessageFile.aggregate_time_stamp: contraction. only_4_events=False
  From 36009 lines with same time stamp, same event type and same direction, -->  to 17068 lines: 18941 lines contracted
  Initial length=369724, contracted length=350783
  Number of remaining events with same time stamp=1115
I am dropping events with non-unique time stamp and event type=3, while keeping the_last of the events in every batch
Numbers of events dropped: 38
I am dropping events with non-unique time stamp and event type=5, while keeping the_last of the events in every batch
Numbers of events dropped: 88
Total number of events dropped: 126
prepare_from_lobster.separate_41_events: number of occurrencies = 81
   After separation, the average time step is 0.1234327865536447, the smallest time step is 1.2999953469261527e-07.
prepare_from_lobster.separate_34_events: number of occurrencies = 82
   After separation, the average time step is 0.1234327865536447, the smallest time step is 1.2999953469261527e-07.
prepare_from_lobster.separate_43_events: number of occurrencies = 2
   After separation, the average time step is 0.12343208120328296, the smallest time step is 1.2999953469261527e-07.
prepare_from_lobster.separate_directions: number of occurrencies = 183
   After separation, the average time step is 0.12339083223225186, the smallest time step is 1.2999953469261527e-07.
ManipulateMessageFile.aggregate_time_stamp: contraction. only_4_events=False
  From 669 lines with same time stamp, same event type and same direction, -->  to 134 lines: 535 lines contracted
  Initial length=350657, contracted length=350122
  Number of remaining events with same time stamp=19
I am dropping events with non-unique time stamp and event type=3, while keeping the_last of the events in every batch
Numbers of events dropped: 0
I am dropping events with non-unique time stamp and event type=5, while keeping the_last of the events in every batch
Numbers of events dropped: 0
Total number of events dropped: 0
prepare_from_lobster.separate_41_events: number of occurrencies = 0
   After separation, the average time step is 0.12339083223225186, the smallest time step is 1.2999953469261527e-07.
prepare_from_lobster.separate_34_events: number of occurrencies = 1
   After separation, the average time step is 0.12339083223225186, the smallest time step is 1.2999953469261527e-07.
prepare_from_lobster.separate_43_events: number of occurrencies = 0
   After separation, the average time step is 0.12339083223225186, the smallest time step is 1.2999953469261527e-07.
prepare_from_lobster.separate_directions: number of occurrencies = 3
   After separation, the average time step is 0.12339083223225186, the smallest time step is 1.2999953469261527e-07.
prepare_from_lobster.equiparate_events_with_same_time_stamp:
  event_left=4, event_right=5, occurrencies=4
prepare_from_lobster.drop_events_with_same_time_stamp:
  event_left=4, event_right=5, occurrencies=0
ManipulateMessageFile.aggregate_time_stamp: contraction. only_4_events=False
  From 19 lines with same time stamp, same event type and same direction, -->  to 4 lines: 15 lines contracted
  Initial length=350122, contracted length=350107
  Number of remaining events with same time stamp=0
I am dropping events with non-unique time stamp and event type=3, while keeping the_last of the events in every batch
Numbers of events dropped: 0
I am dropping events with non-unique time stamp and event type=5, while keeping the_last of the events in every batch
Numbers of events dropped: 0
Total number of events dropped: 0
prepare_from_lobster.separate_41_events: number of occurrencies = 0
   After separation, the average time step is 0.12339083223225186, the smallest time step is 1.2999953469261527e-07.
prepare_from_lobster.separate_34_events: number of occurrencies = 0
   After separation, the average time step is 0.12339083223225186, the smallest time step is 1.2999953469261527e-07.
prepare_from_lobster.separate_43_events: number of occurrencies = 0
   After separation, the average time step is 0.12339083223225186, the smallest time step is 1.2999953469261527e-07.
prepare_from_lobster.separate_directions: number of occurrencies = 0
   After separation, the average time step is 0.12339083223225186, the smallest time step is 1.2999953469261527e-07.
prepare_from_lobster.equiparate_events_with_same_time_stamp:
  event_left=4, event_right=5, occurrencies=0
prepare_from_lobster.drop_events_with_same_time_stamp:
  event_left=4, event_right=5, occurrencies=0
ManipulateMessageFile.aggregate_time_stamp: contraction. only_4_events=False
  From 0 lines with same time stamp, same event type and same direction, -->  to 0 lines: 0 lines contracted
  Initial length=350107, contracted length=350107
  Number of remaining events with same time stamp=0
I am dropping events with non-unique time stamp and event type=3, while keeping the_last of the events in every batch
Numbers of events dropped: 0
I am dropping events with non-unique time stamp and event type=5, while keeping the_last of the events in every batch
Numbers of events dropped: 0
Total number of events dropped: 0
prepare_from_lobster.separate_41_events: number of occurrencies = 0
   After separation, the average time step is 0.12339083223225186, the smallest time step is 1.2999953469261527e-07.
prepare_from_lobster.separate_34_events: number of occurrencies = 0
   After separation, the average time step is 0.12339083223225186, the smallest time step is 1.2999953469261527e-07.
prepare_from_lobster.separate_43_events: number of occurrencies = 0
   After separation, the average time step is 0.12339083223225186, the smallest time step is 1.2999953469261527e-07.
prepare_from_lobster.separate_directions: number of occurrencies = 0
   After separation, the average time step is 0.12339083223225186, the smallest time step is 1.2999953469261527e-07.
prepare_from_lobster.equiparate_events_with_same_time_stamp:
  event_left=4, event_right=5, occurrencies=0
prepare_from_lobster.drop_events_with_same_time_stamp:
  event_left=4, event_right=5, occurrencies=0
I am dropping events with non-unique time stamp and event type=0, while keeping none of the events in every batch
Numbers of events dropped: 0
I am dropping events with non-unique time stamp and event type=1, while keeping none of the events in every batch
Numbers of events dropped: 0
I am dropping events with non-unique time stamp and event type=2, while keeping none of the events in every batch
Numbers of events dropped: 0
I am dropping events with non-unique time stamp and event type=3, while keeping none of the events in every batch
Numbers of events dropped: 0
I am dropping events with non-unique time stamp and event type=4, while keeping none of the events in every batch
Numbers of events dropped: 0
I am dropping events with non-unique time stamp and event type=5, while keeping none of the events in every batch
Numbers of events dropped: 0
I am dropping events with non-unique time stamp and event type=6, while keeping none of the events in every batch
Numbers of events dropped: 0
I am dropping events with non-unique time stamp and event type=7, while keeping none of the events in every batch
Numbers of events dropped: 0
Total number of events dropped: 0
event_encoding: self.n_event_types=4, self.n_levels=2

In [7]:


man_ob=from_lobster.ManipulateOrderBook(
    man_mf.LOB_sdhawkes,symbol=symbol,date=date,
    ticksize=man_mf.ticksize,n_levels=man_mf.n_levels,volume_imbalance_upto_level=2)


data=from_lobster.DataToStore(man_ob,man_mf,time_origin=initial_time)

I am storing observed_states
I am storing observed_events
I am storing observed_times, with 36000.0 as time origin: Notice that this results in a shift in the values of self.observed_times

In [8]:
mf = data.messagefile

In [9]:
idx=mf['level']<=0

In [10]:
mf.loc[idx]

,direction,event_type,level,original_idx,price,size,time,delta_t,same_time_stamp,hawkes_mark
30,-1,4,0,114799,486200,200,36000.381030,0.000003,False,1
126,-1,4,0,114917,486300,101,36000.559404,0.000011,False,1
234,1,3,0,115056,486300,200,36001.004904,0.000002,False,2
297,-1,4,0,115139,486300,121,36001.620452,0.000003,False,1
409,-1,4,0,115268,486400,426,36001.662524,0.000033,False,1
...,...,...,...,...,...,...,...,...,...,...
299809,-1,3,0,483833,476300,100,43194.244634,0.000014,False,3
299908,1,4,0,483958,476300,294,43195.856994,0.000050,False,0
300033,-1,3,0,484094,476400,252,43196.610996,0.000491,False,3
300073,-1,4,0,484142,476400,400,43197.694682,0.000116,False,1
300208,-1,4,0,484314,476500,200,43198.493947,0.000040,False,1